*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #000000;
  --white: #fffecf;
  --mainCalcColor: #252525;
  --accentCalcColor: #4b4b4b;
  --innerDisplayBgColor: rgb(245, 232, 117);
  --buttonOutline: #adadad;
}

/* Blocks */

body {
  width: 100vw;
  height: 100vh;
  font-size: 28px;
}


main {
  width: 100%;
  height: 100%;
}

button {
  font-size: 1.5em;
  background-color: #808080;
  color: var(--white);
  border: 1px solid var(--buttonOutline);
}

#calculator {
  max-width: 687px;
  max-height: 684px;
  min-width: 403px;
  min-height: 400px;
  flex-direction: column;
  align-items: center;
  background-color: var(--mainCalcColor);
}

.inner-calculator {
  flex-direction: column;
  width: 95%;
  height: 95%;
  margin: 1em .25em;
  border: 2px solid #615b27;
  
}
.display, .result {
  color: var(--black);
  background-color: var(--innerDisplayBgColor);
  font-family: monospace;
  overflow: hidden;
}
.display {
  height: 25%;
  flex-direction: column;
}

.display > div {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 1em;

}
.btns-all-container {
  height: 75%;
}

.btns-num-container {
  width: 70%;
  height: 100%;
  flex-direction: column;
  padding: 1rem;
  row-gap: 0.25rem;
  background-color: var(--accentCalcColor);
  
}

.btns-num-container > div {
  flex: 1;
  display: flex;
  gap: .1em;

}

.btns-num-container > div > button{
  flex: 1;
  text-align: center;
}

.btns-num-container > div > button:active {
  background-color: var(--white);
  color: black;
}

.btns-operators-container {
  flex-direction: column;
  padding: 1em;
  row-gap: 0.5em;
  width: 30%;
}

.equal-sign {
  background-color: #ddc702;
  flex: 2;
}

/* Modifiers */

.display-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}