*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}


main {
  width: 100%;
  height: 100%;
}
main * {
  border: 1px solid #000;
  
}

#calculator {
  max-width: 687px;
  max-height: 684px;
  flex-direction: column;
  align-items: center;
}

.inner-calculator {
  flex-direction: column;
  width: 95%;
  height: 95%;
  margin: 1em .25em;
}

.display {
  height: 25%;
}

.buttons {
  height: 75%;
}

.buttons-numbers {
  width: 70%
}

.buttons-equal {
  width: 30%;
}

/* Modifiers */

.display-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}